<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <springProfile name="local,local-dev,test">
        <include resource="appenders/plain-console-appender.xml"/>
        <logger name="com.momentum" level="DEBUG"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <include resource="appenders/json-console-appender.xml"/>
        <logger name="com.momentum" level="DEBUG"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="qa">
        <include resource="appenders/json-console-appender.xml"/>
        <logger name="com.momentum" level="INFO"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prd">
        <include resource="appenders/json-console-appender.xml"/>
        <logger name="com.momentum" level="INFO"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>